# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/venv
venv
# dependencies
/node_modules
**node_modules
**build
**dist
**__pycache__

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map
.vscode

# System Files
.DS_Store
Thumbs.db

docker/__pycache__/
docker/wg0.conf

wg-sys/target/*
wg-rs/target/*
wg-mgr-rs/target/*
wg-mgr-rs/Cargo.lock
wg-rs/Cargo.lock
wg-sys/Cargo.lock
wg-client/target/*
wg-client/Cargo.lock
wg-sys/Cargo.lock

wg-mgr-api/
api/

wg.yaml

# Vagrant
vagrant/.vagrant